# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

stages:
- stage: Build
  displayName: Build Stage

  jobs:
  - job: Build
    displayName: Build

    strategy:
        matrix:
          node-version: [12]

    pool:
      vmImage: ubuntu-latest

      env:
        CI: false
      runs-on: ubuntu-latest

     
      steps:
        - uses: actions/checkout@v2
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v1
          with:
            node-version: ${{ matrix.node-version }}
        - run: npm ci
        - run: npm run CI=false build --if-present
        - run: npm test
 
